.message-item {
  .message-item__header::before {
    content: "";
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    border-radius: 50%;
  }
  &.error {
    .message-item__header::before {
      background-color: red;
    }
  }
  &.success {
    .message-item__header::before {
      background-color: green;
    }
  }
  &.warning {
    .message-item__header::before {
      background-color: yellow;
    }
  }
}
